.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formCenter {
  text-align: left;
  background-color: grey;
  padding: 25px;
  margin-top: 50px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.thermometerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thermometerContent {
  text-align: center;
  background-color: grey;
  padding: 25px;
  margin-top: 50px;
  border-radius: 15px;
  margin-bottom: 50px;
}

#lineargauge_LinearGaugeBorder {
  fill: grey;
}
